/* colors:
brown: #44281d
green: #97ce4c
skin: #e4a788
yellow: #f0e14a
pink: #e89ac7
blue: #00B2CA
neongreen: #17FC64 */

@font-face {
  font-family: "Horror";
  src: local("get_schwifty"),
    url("./get_schwifty.ttf") format("truetype");
}
.oneChar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #04272c;
  color: #17FC64;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(23, 252, 100, 0.9);
  width: 30%;
}

.oneCharContent {
  text-align: center;
} 

.close{
  font-size: 25px;
}

#root {
  background-color: #00525c;
  padding-top: 50px;
}

body {
  font-family: "Horror";
  background-color: #00525c;

}

header {
  margin-right: 15px;
  display: flex;
  justify-content: space-evenly;
}

.pagination{
  display: flex;
  justify-content: center;
}

.PageChangeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  height: 40px;
  width: auto;
  background-color: #00B2CA;
  border-color: black;
  border-width: 2px;
  font-family: "Horror";
  font-size:xx-large;
  box-shadow: -1px 2px 7px 7px  #17FC64;
}

.button {
  display: flex;
  height: 60px;
  width: auto;
  background-color: #00B2CA;
  border-color: black;
  border-width: 2px;
  font-family: "Horror";
  font-size:xx-large;
  box-shadow: -1px 2px 7px 7px  #17FC64;
}

.logo {
  width: 30%;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  
}

.landingPage {
  padding-top: 50px;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 430px;
  position: relative;
  display: grid;
  place-items: center;
  padding: auto;
  background-color: #97ce4c;
  border-radius: 40px;
  background-color: #04272c;
  margin: 30px;
  border: 2px #014750 solid;
  z-index: 1;
  box-shadow: 0 0 10px rgba(23, 252, 100, 0.9);
  color: rgb(23, 252, 100);
}

.card:hover{
transform: scale(1.1);
background-color: #074049;
}

.card>h2 {
  text-align: center;
}

.charimg{
  width: 80%;
}

.locPic {
  width: 180px;
}

h1 {
  text-align: center;
  color: #17FC64;
  font-size: 40px;
}

p {
  text-align: center;
  color: #17FC64;
}