/* colors:
brown: #44281d
green: #97ce4c
skin: #e4a788
yellow: #f0e14a
pink: #e89ac7
blue: #00B2CA
neongreen: #17FC64 */

@font-face {
  font-family: "Horror";
  src: local("get_schwifty"), url("./get_schwifty.ttf") format("truetype");
}
.oneChar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #04272c;
  color: #17fc64;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(23, 252, 100, 0.9);
  width: 30%;
}

.oneCharContent {
  text-align: center;
}

.close {
  font-size: 25px;
  cursor: pointer;
}

#root {
  background-color: #00525c;
  padding-top: 50px;
}

body {
  font-family: "Horror";
  background-color: #00525c;
}

header {
  margin-right: 15px;
  display: flex;
  justify-content: space-evenly;
}

.PageChangeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  height: 40px;
  width: auto;
  background-color: #00b2ca;
  border-color: black;
  border-width: 2px;
  font-family: "Horror";
  font-size: xx-large;
  box-shadow: -1px 2px 7px 7px #17fc64;
}

.button {
  display: flex;
  height: 60px;
  width: auto;
  background-color: #00b2ca;
  border-color: black;
  border-width: 2px;
  font-family: "Horror";
  font-size:xx-large;
  box-shadow: -1px 2px 7px 7px  #17FC64;
  cursor: pointer;
}

.logo {
  width: 30%;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.landingPage {
  padding-top: 50px;
}

h1 {
  text-align: center;
  color: #17fc64;
  font-size: 40px;
}

p {
  text-align: center;
  color: #17fc64;
}
.killbutton {
  text-align: center;
  border-radius: 40px;
  font-weight: 600;
  width: 80px;
  height: 30px;
  background-color: #00b2ca;
  box-shadow: -1px 2px 7px 7px #17fc64;
}

.form {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #17fc64;
}

input {
  height: 30px;
  width: 300px;
  background-color: rgb(132, 244, 170);
}

.formbuttons {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  margin-top: 20px;
}
